{% extends "base.html" %}
{% block title %}Page not found{% endblock %}
{% block content %}
    <div class="container my-5 col-md-4 text-center">
        <h2>Oops. Page Not Found (404)</h2>
        <h6>That page does not exist. Please, try a different location.</h6>
        <img class="img-fluid" src="{{ url_for('static', filename='11.png') }}" alt="black cat">
    </div>
    <div class="container-fluid navbar fixed-bottom mt-auto bg-primary text-white">
        <div class="container col-md-4 center">
            <h6 class="text-center">yourprojecttracker@gmail.com</h6>
        </div>
    </div>
{% endblock%}