{% extends "base.html" %}
{% block title %}Page unavailable {% endblock %}
{% block content %}
    <div class="container my-5 col-md-6 text-center">
        <h4>Sorry, you can not visit this page (405)</h4>
        <img class="img-fluid" src="{{ url_for('static', filename='cat.png') }}" alt="black cat">
    </div>
    <div class="container-fluid navbar fixed-bottom bg-primary text-white justify-content-center">
        <h6 class="px-3">yourprojecttracker@gmail.com</h6>
        <p><a href="https://github.com/LiudmilaLV"><img class="img-fluid" src="{{ url_for('static', filename='GitHub.png') }}" alt="github logo" style="width:28px; height:28px;"></a></p>
    </div>
{% endblock%}