{% extends "base.html" %}
{% block title %}Something wrong{% endblock %}
{% block content %}
    <div class="container my-5 col-md-6 text-center">
        <h2>Something went wrong (500)</h2>
        <h6>We are working on it. Please, come visit again later.</h6>
        <img class="img-fluid" src="{{ url_for('static', filename='11.png') }}" alt="black cat">
    </div>
    <div class="container-fluid navbar fixed-bottom mt-auto bg-primary text-white">
        <div class="container col-md-4 center">
            <h6 class="text-center">yourprojecttracker@gmail.com</h6>
        </div>
    </div>
{% endblock%}