{% extends "base.html" %}
{% block title %}Something wrong{% endblock %}
{% block content %}
    <div class="container my-5 col-md-6 text-center">
        <h2>Something went wrong (500)</h2>
        <h6>We are working on it. Please, come visit again later.</h6>
        <img class="img-fluid" src="{{ url_for('static', filename='11.png') }}" alt="black cat">
    </div>
    <div class="container-fluid navbar fixed-bottom bg-primary text-white justify-content-center">
        <h6 class="px-3">yourprojecttracker@gmail.com</h6>
        <p><a href="https://github.com/LiudmilaLV/Your_Project_Tracker"><img class="img-fluid" src="{{ url_for('static', filename='GitHub.png') }}" alt="github logo" style="width:28px; height:28px;"></a></p>
    </div>
{% endblock%}