<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
    crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.2/dist/flatly/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary py-2">
    <div class="container-xl">
      {% if user and user.is_authenticated %}
      <a class="navbar-brand" href="{{ url_for('views.home') }}">
      {% else %}
      <a class="navbar-brand" href="{{ url_for('views.welcome') }}">
      {% endif %}
        <img src="{{ url_for('static', filename='ypt_logo.svg') }}" class="img-fluid" alt="Your Project Tracker Logo" width="28" height="28" class="d-inline-block align-text-top">
        <span>Your Project Tracker</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end align-center" id="navbarColor01">
        <ul class="navbar-nav">
          {% if user and user.is_authenticated %}
            {% if project_id %}
              <li class="nav-item">
                <a class="nav-link fw-lighter" href="{{ url_for('views.add_time', project_id=project_id) }}">Add Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-lighter" href="{{ url_for('views.edit_project', project_id=project_id) }}">Edit Project</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link fw-lighter" href="#addproject">Add New Project</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link fw-lighter" href="{{ url_for('views.home') }}">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-lighter" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissable text-center">
            {{ message }}
            <button type="button" class="btn-close mx-5" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

        {% block content %}{% endblock %}

  {% if footerfalse%}
  {% else %}
  <div class="container-fluid navbar fixed-bottom bg-primary text-white justify-content-center pt-2 pb-0">
    <h6 class="px-3">info@yourprojecttracker.com</h6>
    <p><a href="https://github.com/LiudmilaLV"><img class="img-fluid" src="{{ url_for('static', filename='GitHub.png') }}" alt="github logo" style="width:30px; height:30px;"></a></p>
  </div>
  {% endif %}     
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" 
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).remove();
      }, 4000);
    });
  </script>
</body>
</html>