{% extends "base.html" %}
{% block title %}Edit Project{% endblock %}
{% block content %}
<div class="container my-3 col-md-4 center">
    <div>
        <form action="" method="POST">
            {{ edit_project_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ edit_project_form.project_name.label(class="form-label mt-4") }}
                    {% if edit_project_form.project_name.errors %}
                        {{ edit_project_form.project_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in edit_project_form.project_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ edit_project_form.project_name(class="form-control") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {{ edit_project_form.goal.label(class="form-label mt-4") }}
                    {% if edit_project_form.goal.errors %}
                        {{ edit_project_form.goal(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in edit_project_form.goal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ edit_project_form.goal(class="form-control") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {{ edit_project_form.notes.label(class="form-label mt-4") }}
                    {% if edit_project_form.notes.errors %}
                        {{ edit_project_form.notes(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in edit_project_form.notes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ edit_project_form.notes(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <br>
            <div class="form-group">
                {{ edit_project_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-danger btn-lg my-5 mx-5"  data-bs-toggle="modal" data-bs-target="#deleteProjectModal" >Delete Project</button>
    </div>
</div>
<div class="container-fluid navbar fixed-bottom bg-primary text-white justify-content-center">
    <h6 class="px-3">info@yourprojecttracker.com</h6>
    <p><a href="https://github.com/LiudmilaLV"><img class="img-fluid" src="{{ url_for('static', filename='GitHub.png') }}" alt="github logo" style="width:28px; height:28px;"></a></p>
</div>

<!-- Modal for Deleting a Project -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">Delete this Project?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>All data relevant to this project will be gone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{{ url_for('views.delete_project', project_id=project_id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}