{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="container py-3 min-vh-100">        
    {% if not user.projects %}
    <!-- If User doesn't have any projects yet -->
    <div class="row d-flex flex-wrap justify-content-evenly">
        <div class="col-md-5 my-5">
            <h1 class="text-primary">Hi, {{user.name}}!</h1>
        </div>
        <div class="col-md-5 my-5">
            <h3>Welcome to the Project Tracker!</h3>
            <h6>A simple tool to measure time you spend on your projects and track your progress with infographics.</h6>
            <h5>No projects yet?</h5>
            <h6>Let's add one here below!</h6>
        </div>
    </div>
    {% else %} 
    <!-- If User has projects -->
    <div class="row d-flex flex-wrap justify-content-around">
        <div class="col-md-6">
            <div class="display-2 my-3 mt-5">Hi, {{user.name}}!</div>
            <h3 class="my-3">Your projects:</h3>
            <div class="d-flex flex-wrap justify-content-evenly align-content-evenly">
                {% for project in user.projects %}
                <a href="{{ url_for('views.project', project_id=project.id) }}">
                    <div class="btn btn-primary btn-lg my-2">
                    {{project.project_name}}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5">
            {% if no_entries_yet %}
                <h4 class="text-center">Here will be your progress data.</h4>
                <h6 class="text-center">Select a project and add some time to it!</h6>                
            {% else %}
            <h4 class="text-center">Last 30 Days Progress:</h4>
            <!-- Pie Chart -->
            <div class="chart my-3">
                <canvas id="projects_pie"></canvas>
            </div>
            {% endif %}
        </div>
    {% endif %}
    

    <div class="container my-5 py-5 col-md-6" id="addproject">
        <form method="POST" action="#">
            {{ project_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ project_form.project_name.label(class="form-label mt-4") }}
                    {% if project_form.project_name.errors %}
                        {{ project_form.project_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in project_form.project_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ project_form.project_name(class="form-control") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {{ project_form.goal.label(class="form-label mt-4") }}
                    {% if project_form.goal.errors %}
                        {{ project_form.goal(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in project_form.goal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ project_form.goal(class="form-control") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    {{ project_form.notes.label(class="form-label mt-4") }}
                    {% if project_form.notes.errors %}
                        {{ project_form.notes(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in project_form.notes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ project_form.notes(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <br>
            <div class="form-group">
                {{ project_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</section>

<div class="container-fluid navbar fixed-bottom bg-primary text-white justify-content-center">
    <h6 class="px-3">yourprojecttracker@gmail.com</h6>
    <p><a href="https://github.com/LiudmilaLV"><img class="img-fluid" src="{{ url_for('static', filename='GitHub.png') }}" alt="github logo" style="width:28px; height:28px;"></a></p>
</div>

{% block javascript %}
<script>
    let u_p_labels = JSON.parse({{ user_projects_labels | tojson }})
    let u_p_data = JSON.parse('{{ user_projects_data }}')

    const pie_data = {
    labels: u_p_labels,
    datasets: [{
    data: u_p_data,
    backgroundColor: [
        'rgb(24, 188, 156)',
        'rgb(243, 156, 18)',
        'rgb(231, 77, 60)',
        'rgb(37, 53, 68)',
        'rgb(52, 152, 219)',
        'rgb(213, 218, 219)'
    ],
    hoverOffset: 8
    }]
    };
    const pie_config = {
        type: 'pie',
        data: pie_data,
        options: {
        plugins: {
            subtitle: {
                display: true,
                text: 'Hours you spent working on'
            }
        }
    }
        };

    const projects_pie_chart = new Chart(document.getElementById('projects_pie'), pie_config);

</script>
{% endblock %}
{% endblock %}