{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section id="dashboard">
        <div class="container-lg my-2">
            {% if not user.projects %}
            <!-- If User does'n have any projects-->
                <div class="row justify-content-between">
                    <div class="col-4 col-md-4 text-center text-md-start d-flex align-content-between flex-wrap">
                        <div class="display-2">Hi, {{user.name}}!</div>
                        <div class="display-5 text-muted">No projects yet?</div>
                        <a href="#addproject" class="btn btn-lg btn-secondary">Add a project to track:</a>
                    </div>
                    <div class="col-8 col-md-5 text-center">
                        <div class="display-3">Welcome to the Project Tracker!</div>
                        <div class="display-6 text-muted">Here is how it works:</div>
                        <!-- Carousel ? -->
                    </div>
                </div>
                
            {% else %} 
            <!-- If User has projects (up to 5)-->
            <div class="row justify-content-between">
                <div class="col-4 col-md-4 text-center text-md-start d-flex align-content-between flex-wrap">
                    <div class="display-2">Hi, {{user.name}}!</div>
                    <div class="display-5 text-muted">Your projects:</div>
                    {% for project in user.projects %}
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{project.project_name}}</h4>
                                <p class="card-text">{{project.notes}}</p>
                            </div>
                        </div>
                    {% endfor %}   
                    <a href="#addproject" class="btn btn-lg btn-secondary">Add a new project to track:</a>
                </div>
                <div class="col-8 col-md-5 text-center">
                    <div class="display-5">Your progress this month:</div>
                    <div class="display-6 text-muted">Here is a pie chart</div>
                    <!-- Carousel ? -->
                </div>
            </div>
            {% endif %}
    </section>

    <!-- {% if user.projects %}
            {% for project in user.projects %}
                Loooping through projects creating <section id="projectcard"> (up to 5)
            {% endfor %}
        {% endif %} -->

    <section id="addproject">
        <div class="container-lg my-2">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Add a New Project</legend>
                    <div class="form-group">
                        {{ form.project_name.label(class="form-label mt-4") }}
                        {% if form.project_name.errors %}
                            {{ form.project_name(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.project_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.project_name(class="form-control") }}
                        {% endif %} 
                    </div>
                    <div class="form-group">
                        {{ form.notes.label(class="form-label mt-4") }}
                        {% if form.notes.errors %}
                            {{ form.notes(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.notes.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.notes(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </section>

{% endblock %}