{% extends "base.html" %}
{% block title %}
{{ name }}
{% endblock %}

{% block content %}
<section class="d-flex flex-column py-1">
    <div class="container col-md-8">
        <div class="text-center">
            <h3>{{ name }}</h3>
            <h6 class="text-primary">{{ notes }}</h6>
            {% if goal %}
                <p class="text-primary">My goal is <b>{{ week_goal }} hours a week.</b></p>
            {% endif%}
        </div>
            <ul class="nav nav-pills mb-2 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-this-week-tab" data-bs-toggle="pill" data-bs-target="#pills-this-week" type="button" role="tab" aria-controls="pills-this-week" aria-selected="true">This Week</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-last30-tab" data-bs-toggle="pill" data-bs-target="#pills-last30" type="button" role="tab" aria-controls="pills-last30" aria-selected="false">Last 30 Days</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-this-12weeks-tab" data-bs-toggle="pill" data-bs-target="#pills-this-12weeks" type="button" role="tab" aria-controls="pills-this-12weeks" aria-selected="true">Last 12 Weeks</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-this-year-tab" data-bs-toggle="pill" data-bs-target="#pills-this-year" type="button" role="tab" aria-controls="pills-this-year" aria-selected="false">This Year</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-alltime-tab" data-bs-toggle="pill" data-bs-target="#pills-alltime" type="button" role="tab" aria-controls="pills-alltime" aria-selected="false">All Time</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-this-week" role="tabpanel" aria-labelledby="pills-this-week-tab">
                    <p class="text-center">This week ({{ current_week }}) you spent <b>{{ thisweek_summ_hours }} hours</b> on this project.</p>
                    <!-- This week chart -->
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="this_week_chart"></canvas>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-last30" role="tabpanel" aria-labelledby="pills-last30-tab">
                    <p class="text-center">This month you spent <b>{{ thismonth_summ_hours }} hours</b> working on this project.</p>
                    <!-- Last 30 Days chart -->
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="last30_chart"></canvas>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-this-12weeks" role="tabpanel" aria-labelledby="pills-this-12weeks-tab">
                    <p class="text-center">Last 12 weeks you spent <b>{{ these12weeks_summ_hours }} hours</b> working on this project.</p>
                    {% if goal %}
                    <!-- This 12 weeks chart with goal scoreboard -->
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="these_12weeks_chart"></canvas>
                            </div>
                        </div>    
                    </div>
                    {% else %}
                    <!-- This 12 weeks chart without goal scoreboard -->
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="these_12weeks_chart_nogoal"></canvas>
                            </div>
                        </div>    
                    </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="pills-this-year" role="tabpanel" aria-labelledby="pills-this-year-tab">
                    <p class="text-center">This year you spent <b>{{ thisyear_summ_hours }} hours</b> working on this project.</p>
                    <!-- This Year chart -->
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="this_year_chart"></canvas>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-alltime" role="tabpanel" aria-labelledby="pills-alltime-tab">
                    <p class="text-center">You spent <b>{{ alltime_summ_hours }} hours</b> working on this project in total.</p>
                    <!-- All Time chart -->
                    <div class="card my-3">
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="alltime_chart"></canvas>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>         
    </div>

    <!-- 5 last entries -->
    <div class="container my-3 col-md-6 text-center">
        <h4>Last Entries</h4>
        <table class="table table-hover">
            <thead>
                <tr class="table-light">
                    <th scope="col">Date</th>
                    <th scope="col">Minutes</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in last5 %}
                <tr>
                    <td>{{ entry.date.strftime("%B %d, %Y") }}</td>
                    <td>{{ entry.duration }}</td>
                    <td><a href="{{ url_for('views.delete_entry', entry_id=entry.id) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% block javascript %}
<script>

    let t_w_data = JSON.parse({{ this_week_data | tojson }});
    let t_w_labels = JSON.parse({{ this_week_labels | tojson }});
    let l30_data = JSON.parse({{ this_month_data | tojson }});
    let l30_labels = JSON.parse({{ this_month_labels | tojson }});
    let year_data = JSON.parse({{ this_year_data | tojson }});
    let year_labels = JSON.parse({{ this_year_labels | tojson }});
    let all_data = JSON.parse({{ alltime_data | tojson }});
    let all_labels = JSON.parse({{ alltime_labels | tojson }});
    const twelve_weeks_labels = JSON.parse({{ these_12weeks_labels | tojson }});
    let twelve_weeks_data = JSON.parse({{ these_12weeks_data | tojson }}); 
    let twelve_weeks_data_goal = JSON.parse({{ these_12weeks_data_goal | tojson }}); 
    let twelve_weeks_progresss = JSON.parse({{ these_12weeks_progress | tojson }}); 

    // 12 weeks chart with goal scoreboard
    const g_tq_data = {
        labels: twelve_weeks_labels,
        datasets: [{
            label: 'Your Progress',
            data: twelve_weeks_progresss,
            fill: false,
            borderColor: 'rgb(52, 152, 219)',
            backgroundColor: 'rgb(52, 152, 219)',
            tension: 0.1
        }, {
            label: 'Your Goal',
            data: twelve_weeks_data_goal,
            fill: false,
            borderColor: 'rgb(231, 76, 60)',
            backgroundColor: 'rgb(231, 76, 60)',
            tension: 0.1
        }]
    };
    const g_tq_config = {
        type: 'line',
        data: g_tq_data,
    };
    const g_these_12weeks_chart = new Chart(document.getElementById('these_12weeks_chart'), g_tq_config);

    // 12 weeks chart without goal scoreboard
    const tq_data = {
        labels: twelve_weeks_labels,
        datasets: [{
            label: 'Hours',
            data: twelve_weeks_data,
            fill: false,
            borderColor: 'rgb(44, 62, 80)',
            backgroundColor: 'rgb(44, 62, 80)',
            tension: 0.1
        }]
    };
    const tq_config = {
        type: 'line',
        data: tq_data,
    };
    const these_12weeks_chart = new Chart(document.getElementById('these_12weeks_chart_nogoal'), tq_config);

    // This week chart
    const tw_data = {
        labels: t_w_labels,
        datasets: [{
            label: 'Minutes',
            data: t_w_data,
            fill: false,
            borderColor: 'rgb(44, 62, 80)',
            backgroundColor: 'rgb(44, 62, 80)',
            tension: 0.1
        }]
    };
    const tw_config = {
        type: 'line',
        data: tw_data,
};
    const this_week_chart = new Chart(document.getElementById('this_week_chart'), tw_config);

    // Last 30 days chart
    const last30_data = {
        labels: l30_labels,
        datasets: [{
            label: 'Hours',
            data: l30_data,
            fill: false,
            borderColor: 'rgb(117, 189, 187)',
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        },]
    };
    const l30_config = {
        type: 'bar',
        data: last30_data,
};
    const this_month_chart = new Chart(document.getElementById('last30_chart'), l30_config);

    // This year chart
    const ty_data = {
        labels: year_labels,
        datasets: [{
            label: 'Hours',
            data: year_data,
            fill: false,
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        }]
    };
    const ty_config = {
        type: 'bar',
        data: ty_data,
};
    const this_year_chart = new Chart(document.getElementById('this_year_chart'), ty_config);

    // All time chart
    const all_t_data = {
        labels: all_labels,
        datasets: [{
            label: 'Hours',
            data: all_data,
            fill: false,
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        }]
    };
    const all_t_config = {
        type: 'bar',
        data: all_t_data,
};
    const alltime_chart = new Chart(document.getElementById('alltime_chart'), all_t_config);
</script>
{% endblock %}
{% endblock %}