{% extends "base.html" %}
{% block title %}
{{ name }}
{% endblock %}

{% block content %}
    <section class="container" id="greet">
        <div class="container col-md-8">
            <div class="text-center">
                <h1>{{ name }}</h1>
                <h4>{{ notes }}</h4>
            </div>
                <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-this-week-tab" data-bs-toggle="pill" data-bs-target="#pills-this-week" type="button" role="tab" aria-controls="pills-this-week" aria-selected="true">This Week</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-last30-tab" data-bs-toggle="pill" data-bs-target="#pills-last30" type="button" role="tab" aria-controls="pills-last30" aria-selected="false">Last 30 Days</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-this-quarter-tab" data-bs-toggle="pill" data-bs-target="#pills-this-quarter" type="button" role="tab" aria-controls="pills-this-quarter" aria-selected="true">This Quarter</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-this-year-tab" data-bs-toggle="pill" data-bs-target="#pills-this-year" type="button" role="tab" aria-controls="pills-this-year" aria-selected="false">This Year</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-alltime-tab" data-bs-toggle="pill" data-bs-target="#pills-alltime" type="button" role="tab" aria-controls="pills-alltime" aria-selected="false">All Time</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-this-week" role="tabpanel" aria-labelledby="pills-this-week-tab">
                        <p>This week you've spent <b>{{ thisweek_summ_hours }} hours</b> on this project.</p>
                        <!-- This week chart -->
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="this_week_chart"></canvas>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-last30" role="tabpanel" aria-labelledby="pills-last30-tab">
                        <p>This month you've spent <b>{{ thismonth_summ_hours }} hours</b> on this project.</p>
                        <!-- Last 30 Days chart -->
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="last30_chart"></canvas>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-this-quarter" role="tabpanel" aria-labelledby="pills-this-quarter-tab">
                        <p>This quarter you've spent <b>{{ thisquarter_summ_hours }} hours</b> on this project.</p>
                        <!-- This Quarter chart -->
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="this_quarter_chart"></canvas>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-this-year" role="tabpanel" aria-labelledby="pills-this-year-tab">
                        <p>This year you've spent <b>{{ thisyear_summ_hours }} hours</b> on this project.</p>
                        <!-- This Year chart -->
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="this_year_chart"></canvas>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-alltime" role="tabpanel" aria-labelledby="pills-alltime-tab">
                        <p>You've spent <b>{{ alltime_summ_hours }} hours</b> on this project.</p>
                        <!-- All Time chart -->
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="alltime_chart"></canvas>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>         
        </div>
    </section>

        <!-- 5 last entries -->
        <div class="container my-3 col-md-6 text-center">
            <h4>Last Entries</h4>
            <table class="table table-hover">
                <thead>
                    <tr class="table-light">
                        <th scope="col">Date</th>
                        <th scope="col">Minutes</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in last5 %}
                    <tr>
                        <td>{{ entry.date.strftime("%B %d, %Y") }}</td>
                        <td>{{ entry.duration }}</td>
                        <td><a href="{{ url_for('views.delete_entry', entry_id=entry.id) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                    </tr>
                    <!-- Modal for Deleting an Entry -->
                    <!-- <div class="modal fade" id="deleteEntryModal" tabindex="-1" aria-labelledby="deleteEntryModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteEntryModalLabel">Delete this Entry?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Date: {{ entry.date.strftime("%B %d, %Y") }}</p>
                                    <p>Minutes: {{ entry.duration }}</p>                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form action="{{ url_for('views.delete_entry', entry_id=entry.id) }}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    {% endfor %}
                </tbody>
            </table>
        </div>


{% block javascript %}
<script>

    let t_w_data = JSON.parse({{ this_week_data | tojson }})
    let t_w_labels = JSON.parse({{ this_week_labels | tojson }})
    let l30_data = JSON.parse({{ this_month_data | tojson }})
    let l30_labels = JSON.parse({{ this_month_labels | tojson }})
    let quarter_data = JSON.parse({{ this_quarter_data | tojson }})
    let quarter_labels = JSON.parse({{ this_quarter_labels | tojson }})
    let year_data = JSON.parse({{ this_year_data | tojson }})
    let year_labels = JSON.parse({{ this_year_labels | tojson }})
    let all_data = JSON.parse({{ alltime_data | tojson }})
    let all_labels = JSON.parse({{ alltime_labels | tojson }})

    // This week chart
    const tw_data = {
        labels: t_w_labels,
        datasets: [{
            label: 'Minutes',
            data: t_w_data,
            fill: false,
            borderColor: 'rgb(44, 62, 80)',
            tension: 0.1
        }]
    };
    const tw_config = {
        type: 'line',
        data: tw_data,
};
    const this_week_chart = new Chart(document.getElementById('this_week_chart'), tw_config);

    // Last 30 days chart
    const last30_data = {
        labels: l30_labels,
        datasets: [{
            label: 'Hours',
            data: l30_data,
            fill: false,
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        }]
    };
    const l30_config = {
        type: 'bar',
        data: last30_data,
};
    const this_month_chart = new Chart(document.getElementById('last30_chart'), l30_config);

    // This quarter chart
    const tq_data = {
        labels: quarter_labels,
        datasets: [{
            label: 'Hours',
            data: quarter_data,
            fill: false,
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        }]
    };
    const tq_config = {
        type: 'bar',
        data: tq_data,
};
    const this_quarter_chart = new Chart(document.getElementById('this_quarter_chart'), tq_config);

    // This year chart
    const ty_data = {
        labels: year_labels,
        datasets: [{
            label: 'Hours',
            data: year_data,
            fill: false,
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        }]
    };
    const ty_config = {
        type: 'bar',
        data: ty_data,
};
    const this_year_chart = new Chart(document.getElementById('this_year_chart'), ty_config);

    // All time chart
    const all_t_data = {
        labels: all_labels,
        datasets: [{
            label: 'Hours',
            data: all_data,
            fill: false,
            backgroundColor: 'rgb(117, 189, 187)',
            tension: 0.1
        }]
    };
    const all_t_config = {
        type: 'bar',
        data: all_t_data,
};
    const alltime_chart = new Chart(document.getElementById('alltime_chart'), all_t_config);
</script>
{% endblock %}
{% endblock %}