{% extends "base.html" %}
{% block title %}
{{ name }}
{% endblock %}

{% block content %}
    <section class="container" id="greet">
        <div class="container">
            <div class="display-6" style="text-align: center;">{{ name }}</div>
            <div style="text-align: center;"> {{ notes }} </div>
            <div class="container my-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-stats-tab" data-bs-toggle="pill" data-bs-target="#pills-stats" type="button" role="tab" aria-controls="pills-stats" aria-selected="true">Stats</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-addtime-tab" data-bs-toggle="pill" data-bs-target="#pills-addtime" type="button" role="tab" aria-controls="pills-addtime" aria-selected="false">Add Time</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-timer-tab" data-bs-toggle="pill" data-bs-target="#pills-timer" type="button" role="tab" aria-controls="pills-timer" aria-selected="false">Use Timer</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="more-tab" data-bs-toggle="pill" data-bs-target="#pills-more" type="button" role="tab" aria-controls="pills-more" aria-selected="false">More Actions</button>
                    </li>
                </ul>
                <div class="tab-content my-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">
                        <div class="d-flex my-3 align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="stats-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="stats-pills-week-tab" data-bs-toggle="pill" data-bs-target="#stats-pills-week" type="button" role="tab" aria-controls="stats-pills-week" aria-selected="true">This week</button>
                                <button class="nav-link" id="stats-pills-month-tab" data-bs-toggle="pill" data-bs-target="#stats-pills-month" type="button" role="tab" aria-controls="stats-pills-month" aria-selected="false">This month</button>
                                <button class="nav-link" id="stats-pills-year-tab" data-bs-toggle="pill" data-bs-target="#stats-pills-year" type="button" role="tab" aria-controls="stats-pills-year" aria-selected="false">This year</button>
                                <button class="nav-link" id="stats-pills-alltime-tab" data-bs-toggle="pill" data-bs-target="#stats-pills-alltime" type="button" role="tab" aria-controls="stats-pills-alltime" aria-selected="false">All Time</button>
                            </div>
                            <div class="tab-content my-3" id="stats-pills-tabContent">
                                <div class="tab-pane fade show active" id="stats-pills-week" role="tabpanel" aria-labelledby="stats-pills-week-tab">This week stats</div>
                                <div class="tab-pane fade" id="stats-pills-month" role="tabpanel" aria-labelledby="stats-pills-month-tab">This month stats</div>
                                <div class="tab-pane fade" id="stats-pills-year" role="tabpanel" aria-labelledby="stats-pills-year-tab">This year stats</div>
                                <div class="tab-pane fade" id="stats-pills-alltime" role="tabpanel" aria-labelledby="stats-pills-alltime-tab">All time stats</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-addtime" role="tabpanel" aria-labelledby="pills-addtime-tab">
                        <div class="container my-2">
                            <form method="POST" action="">
                                {{ entry_form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <!-- <legend>Add Time to the Project</legend> -->
                                    <div class="form-group">
                                        {{ entry_form.date.label(class="form-label mt-4") }}
                                        {% if entry_form.date.errors %}
                                            {{ entry_form.date(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in entry_form.date.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ entry_form.date(class="form-control") }}
                                        {% endif %} 
                                    </div>
                                    <div class="form-group">
                                        {{ entry_form.duration.label(class="form-label mt-4") }}
                                        {% if entry_form.duration.errors %}
                                            {{ entry_form.duration(class="form-control is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in entry_form.duration.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ entry_form.duration(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <br>
                                <div class="form-group">
                                    {{ entry_form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-timer" role="tabpanel" aria-labelledby="pills-timer-tab">Use timer</div>
                    <div class="tab-pane fade" id="pills-more" role="tabpanel" aria-labelledby="more-tab">
                        <div class="container my-2">
                            <div class="d-flex align-items-start">
                                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link active" id="v-pills-edit-tab" data-bs-toggle="pill" data-bs-target="#v-pills-edit" type="button" role="tab" aria-controls="v-pills-edit" aria-selected="true">Edit Project</button>
                                    <button class="nav-link" id="v-pills-10last-tab" data-bs-toggle="pill" data-bs-target="#v-pills-10last" type="button" role="tab" aria-controls="v-pills-10last" aria-selected="false">10 Last Entries</button>
                                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">what else?</button>
                                </div>
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-edit-tab">
                                        <div class="container"> 
                                            <div class="container mx-5">
                                                <form action="{{ url_for('views.edit_project', project_id=project_id) }}" method="POST">
                                                    {{ edit_project_form.hidden_tag() }}
                                                    <fieldset class="form-group">
                                                        <div class="form-group">
                                                            {{ edit_project_form.project_name.label(class="form-label mt-4") }}
                                                            {% if edit_project_form.project_name.errors %}
                                                                {{ edit_project_form.project_name(class="form-control is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                    {% for error in edit_project_form.project_name.errors %}
                                                                        <span>{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                {{ edit_project_form.project_name(class="form-control") }}
                                                            {% endif %} 
                                                        </div>
                                                        <div class="form-group">
                                                            {{ edit_project_form.notes.label(class="form-label mt-4") }}
                                                            {% if edit_project_form.notes.errors %}
                                                                {{ edit_project_form.notes(class="form-control is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                    {% for error in edit_project_form.notes.errors %}
                                                                        <span>{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                                {{ edit_project_form.notes(class="form-control") }}
                                                            {% endif %}
                                                        </div>
                                                    </fieldset>
                                                    <br>
                                                    <div class="form-group">
                                                        {{ edit_project_form.submit(class="btn btn-primary") }}
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-danger btn-lg my-5 mx-5"  data-bs-toggle="modal" data-bs-target="#deleteProjectModal" >Delete Project</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-10last" role="tabpanel" aria-labelledby="v-pills-10last-tab">
                                        <table class="table table-hover my-3 mx-5" style="text-align: center;">
                                            <thead>
                                                <tr class="table-light">
                                                    <th scope="col"></th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Minutes Spent</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for entry in last10 %}
                                                <tr>
                                                    <th scope="row">{{ loop.index }}</th>
                                                    <td>{{ entry.date.strftime("%d-%m-%Y") }}</td>
                                                    <td>{{ entry.duration }}</td>
                                                    <td><a href="{{ url_for('views.delete_entry', entry_id=entry.id) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal for Deleting a Project -->
    <div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">Delete this Project?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('views.delete_project', project_id=project_id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal for Deleting an Entry -->
    
{% endblock %}