{% extends "base.html" %}
{% block title %}Unconfirmed email{% endblock %}
{% block content %}
    <div class="container my-5 col-md-8 text-center">
        <h4> You have not confirmed your account.</h4> 
        <h4>Please check your email (and your spam folder there) for a confirmation link.</h4>
        <br>
        <p>Did not get the email? <a href="{{url_for('auth.resend_confirmation')}}"> Send again</a>.</p>
    </div>
    <div class="container-fluid navbar fixed-bottom bg-primary text-white justify-content-center">
        <h6 class="px-3">info@yourprojecttracker.com</h6>
        <p><a href="https://github.com/LiudmilaLV"><img class="img-fluid" src="{{ url_for('static', filename='GitHub.png') }}" alt="github logo" style="width:28px; height:28px;"></a></p>
    </div>
{% endblock%}